<header>
    <div class="bandeau">
        <div class="header-title">
            <h1>FUJI FLUSH SPACE</h1>
        </div>
        <div class="header-infos">
    <!-- #{if controllers.Security.isConnected()}
        <span>User : ${controllers.Security.connectedUser().nickName} </span>
        <a href="@{Secure.logout()}">Logout</a>
    #{/if}
    #{else}
        <a href="@{Application.gameRoom()}"> Login </a>
        <a href="@{Home.register()}"> Register </a>
    #{/else} -->
        </div>
    </div>
</header>

<nav class="navigation">
    <a routerLink="/ranking" class="navigation-item"> Ranking </a>
    <a routerLink="/games" class="navigation-item"> Game Room </a>
    <a routerLink="/records" class="navigation-item"> Records </a>
    <a routerLink="/rules" class="navigation-item"> Game Rules </a>
</nav>

<div class="animate">
    <img src="./assets/images/xwings.png">
</div>

<div class="animate2">
    <img src="./assets/images/tie.png">
</div>