<div id="container-game"  *ngIf="!game.isFinished; else gameEnd">
    <div id="table-game">
        <h3>Current Game </h3>
        <div class="table-head">
            <div class="column-nickname"> NICKNAME </div>
            <div class="cards"> CARDS </div>
            <div> BOARD </div>
        </div>
        <div *ngFor="let aHand of game.hands; let i = index">
            <div *ngIf="aHand.player.email === player.email; else otherHand">
                <app-player-hand [game]="game" [hand]="aHand"></app-player-hand>
            </div>
            <ng-template #otherHand><app-other-hand [game]="game" [hand]="aHand" [index]="i"></app-other-hand></ng-template>
        </div>
    </div> 
    <div id="table-board">
        <app-game-history [game]="game"></app-game-history>
        <div class="area-button">
            <button class="backbtn"><a  routerLink="/games">Back</a></button>
            <button class="leavebtn"><a routerLink="/games" (click)="leave()">Leave</a></button>
        </div>
    </div>
</div>
<ng-template #gameEnd>
    <div class="container-end">
        <div [ngClass]="{'player-won' : playerHand.hasWon || playerHand.hasLeaveWon,
        'player-loose': !playerHand.hasWon && !playerHand.hasLeaveWon }">
            <p class="messageEnd">{{ winners.length }} </p>
            <p class="messageEnd" *ngIf="winners.length > 1">winners :</p>
            <p class="messageEnd" *ngIf="winners.length == 1">winner :</p>
            <p class="messageEnd" *ngFor="let winnerHand of winners">- {{ winnerHand.player.nickName }}</p>
        </div>
    </div>
        <!-- <img  class="{{ imgClassToDisplay | async}}" alt="game ending info"> -->
</ng-template>