<div [ngClass]="{'current-player' : currentPlayer,
                'other-player' : !currentPlayer,
                'leave-player' :  hand.hasLeft } ">
 <!-- NICKNAME -->
    <div class="column-nickname">{{ player.nickName }}<span *ngIf="hand.hasLeft">, left the game</span></div>
    <!-- CARDS -->
    <div class="cards">
        <div *ngFor="let card of hand.cards; let i = index" [ngClass]="{'card-play' : currentPlayer}" (click)="playCard(i)">
            <img src="../../assets/images/png/{{ card.value }}.png"/>
        </div>
    </div>
    <!-- BOARD -->
    <div *ngIf="hand.cardP == null; else cardPvalue">
        <img src="../../assets/images/png/dos.png" class="playerCards"/>
    </div>
    <ng-template #cardPvalue><img src="../../assets/images/png/{{ hand.cardP.value }}.png"/></ng-template>
 </div>