
<tr [ngClass]="{'currentPlayer' : currentPlayer,
                'otherPlayer' : !currentPlayer } " height="80">
 <!-- NICKNAME -->
    <td class="column-nickname">{{ player.nickName }} <span *ngIf="hand.hasLeft">left the game</span></td>
    <!-- CARDS -->
    <td class="cards"  *ngFor="let card of hand.cards; let i = index">
        <div *ngIf="currentPlayer; else cardcantplay">
            <a class="playCard" href="#" (click)="playCard(i)">
                <img src="../../assets/images/png/{{ card.value }}.png" class="playerCards"/>
            </a>
        </div>
        <ng-template #cardcantplay><img src="../../assets/images/png/{{ card.value }}.png" class="playerCards"/></ng-template>
    </td>
    <!-- BOARD -->
    <td *ngIf="hand.cardP == null; else cardPvalue">
        <img src="../../assets/images/png/dos.png" class="playerCards"/>
    </td>
    <ng-template #cardPvalue><img src="../../assets/images/png/{{ hand.cardP.value }}.png" class="playerCards"/></ng-template>
 </tr>