<div class="panel-gameRoom">
    <div class="panel-newGame">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class ="radio">
                <input type="radio"
                       name="nbPlayer" value="3" checked ngModel>
                <label>3</label>
        
                <input type="radio"
                       name="nbPlayer" value="4" checked ngModel>
                <label>4</label>
        
                <input type="radio"
                       name="nbPlayer" value="5" checked ngModel>
                <label>5</label>
        
                <input type="radio"
                       name="nbPlayer" value="6" checked ngModel>
                <label>6</label>
        
                <input type="radio"
                       name="nbPlayer" value="7" checked ngModel>
                <label>7</label>
        
                <input type="radio"
                       name="nbPlayer" value="8" checked ngModel>
                <label>8 Players</label>
            </div>
            <input type="submit" class="submitbtn" value="New Timeless Game">
        </form>
    </div>
    <div class="panel-games">
        <div class="availablegames">
            <h3>Available games</h3>
            <table class="tableau">
                <thead class="header-table">
                <td class="table-id"> ID </td>
                <td class="table-numberOfPlayers"> Number </td>
                <td class="table-join"> State </td>
                </thead>
                <tbody class="body-table">
                    <tr class="ligne-tableau" *ngFor="let aGameToJoin of gamesToJoin">
                        <td class="table-id"> {{ aGameToJoin.id }}</td>
                        <td class="table-numberOfPlayers"> {{ aGameToJoin.hands.length }}/{{ aGameToJoin.hands.length + aGameToJoin.nbPlayerMissing }}</td>
                        <td class="table-join"> <a class="registerbtn" (click)="join(aGameToJoin)">__Join__</a> </td>
                    </tr>                     
                </tbody>
            </table>
        </div>
        <div class="mygames">
            <h3>My games</h3>
            <table class="tableau">
                <thead class="header-table">
                <td class="table-id"> ID </td>
                <td class="table-numberOfPlayers"> Number </td>
                <td class="table-join"> State </td>
                </thead>
                <tbody class="body-table">
                    <tr class="ligne-tableau" *ngFor="let aGameToPlay of gamesToPlay">
                        <td class="table-id"> {{ aGameToPlay.id }}</td>
                        <td class="table-numberOfPlayers"> {{ aGameToPlay.hands.length }}/{{ aGameToPlay.hands.length + aGameToPlay.nbPlayerMissing }}</td>
                        <div *ngIf="aGameToPlay.nbPlayerMissing == 0; else waiting">
                            <div *ngIf="getHandOfPlayer(aGameToPlay)">
                                <td class="table-join">
                                        <div *ngIf="aGameToPlay.isFinished ; else play">
                                                <!-- You have quit the Game  -->
                                                <a class="registerbtn" routerLink="/game/{{ aGameToPlay.uuid }}">_review_</a>
                                        </div>
                                        <ng-template #play><a class="registerbtn" routerLink="/game/{{ aGameToPlay.uuid }}">__play__</a></ng-template>
                                </td>
                            </div>
                        </div>
                        <ng-template #waiting><td class="table-join"> Waiting </td></ng-template>
                    </tr>                     
                </tbody>

            </table>
        </div>
    </div>
</div>