<div [ngClass]="{'current-player' : currentPlayer,
                'other-player' : !currentPlayer,
                'leave-player' :  hand.hasLeft } ">
 <!-- NICKNAME -->
    <div class="column-nickname">{{ hand.player.nickName }}<span *ngIf="hand.hasLeft">, left the game</span></div>

    <!-- CARDS -->
    <div class="column-cards" >
        <img *ngFor="let card of hand.cards" src="../../assets/images/png/dosv3.png"/>
    </div>
    <!-- BOARD -->
    <div *ngIf="hand.cardP == null; else cardPvalue">
        <img src="../../assets/images/png/dos.png" class="playerCards"/>
    </div>
    <ng-template #cardPvalue><img src="../../assets/images/png/{{ hand.cardP.value }}.png"/></ng-template>
 </div>