<div id="gameHistory">
    <div id="table-area">
        <table class="list-rank">
            <thead class="header-table">
            <h3> GAME History </h3>
            </thead>

            <tbody class="body-table">
            <tr *ngFor="let aGameEvent of gameEvents">
                <td class="ranka"> {{ aGameEvent.date }} </td>
                <td class="pseudo"> {{ aGameEvent.message }} </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="button-area">
        <button class="backbtn"><a  routerLink="/games">Back</a></button>
        <button class="leavebtn"><a (click)="leave()">Leave</a></button>
    </div>
</div>